**/node_modules
.env
.openzeppelin
**/.idea
**/.vscode
**/dist
coverage
coverage.json
typechain
**/yarn.lock
frontend/src/contracts
frontend/src/accounts.json
#Hardhat files
cache
artifacts
**/.DS_Store
**/*.log